.container {width:950px; margin:0 auto; }

#header {height:194px; background:url('../../Images/header-bg.gif') left top repeat-x #fff; }
#header, #content, #extra-content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-3 { float:left;}

/*======= index.html =======*/
#page1 #content .col-1 {width:302px; margin-right:22px;}
#page1 #content .col-2 {width:302px; margin-right:22px;}
#page1 #content .col-3 {width:302px;}
#page1 #extra-content .col-1 {width:464px; margin-right:22px;}
#page1 #extra-content .col-2 {width:464px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:626px; margin-right:22px;}
#page3 #content .col-2 {width:302px; margin-right:22px;}
#page3 #content .col-3 {width:302px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:302px; margin-right:22px;}
#page5 #content .col-2 {width:626px;}

/*======= index-5.html =======*/
#page6 #content .col-1 {width:302px; margin-right:22px;}
#page6 #content .col-2 {width:302px; margin-right:22px;}
#page6 #content .col-3 {width:302px;}


/*=========================*/


#footer {background:url('../../Images/footer-bg.gif') left top repeat-x #717171;}