﻿* { margin:0; padding:0;}
html, body { height:100%;}
body {
	background:#717171;
	font: 14px  verdana, arial, helvetica;
	line-height:1em;
	color:#000;
}

input, select, textarea { font-family:Tahoma, Geneva, sans-serif; font-size:1em;}

.fleft { float:left; width:36%; text-align:right}
.fright { float:right; width:33%}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { width:100%; overflow:hidden;}
.container { width:100%;}

p {
	margin-bottom:16px;
	margin-left: 5px;
	text-align: justify;
}

.maintenance
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:3em; line-height:1.1em; color:#fff; font-weight:normal; letter-spacing:-1px; margin-bottom:42px;
    text-align: center;margin-bottom:10px;color:#999;
}

/*==================forms====================  */
input, select {  font-weight:normal;}
img {border:0;  text-align:left;}
object { }

.contacts-form { clear:right; width:107%; 
overflow:hidden;
}
.contacts-form fieldset { border:none; float:none; }
.contacts-form select { height:11px;
    width: 178px;
}
.form1 submit {text-align:center}
.contacts-form .field { padding-bottom:7px;width:40%; overflow:hidden;float:left}
.contacts-form .message { clear:both; padding-bottom:7px;width:100%; overflow:hidden; float:left}
.contacts-form .buttonArea {padding-bottom:7px;width:100%; overflow:hidden; float:left;display:block;font-weight:bold;text-align:center}
.contacts-form label { float:left; width:79px; color:#666; font-weight:bold;}
.contacts-form input { width:240px; padding:2px 0 2px 3px; border:none solid #d9d9d9; background:none;}
.contacts-form textarea { width:790px; height:192px; border:none solid #d9d9d9; background:none; padding:2px 0 2px 3px; margin-bottom:15px; overflow:auto;}
.contacts-form .button { width:150px; float:right; margin:0px; padding:0px; background-color:transparent;cursor:pointer; overflow:hidden;text-align:center;}

/*==================list====================*/

ul { list-style:none;}

.list1 li { padding-bottom:32px;}
.list1 li p { margin-bottom:6px;}
.list1 li a { font-weight:bold;}

.list2 { padding:4px 0 10px 0;}
.list2 li { width:100%; overflow:hidden; padding-bottom:20px;
    text-align: center;
}
.list2 li.last { padding-bottom:0 !important;}
.list2 li img { float:left; margin-right:20px;}
.list2 li h5 { padding-top:6px;}
.list2 li h6 { padding-top:15px;}

.list3 li { list-style-type:disc; list-style-position:inside; padding-bottom:15px;}
.list3.color1 li {color:#333;}
.list3.color1 li a {color:#000;}
.list3.color1 li a:hover {text-decoration:none; color:#339}
.list3.color2 li { color:#ff8002;}
.list3.color3 li { color:#f32e10;}
.list3 li span { color:#404141 !important;}

.list4 dt { font-weight:bold; margin-bottom:16px; color:#2cb6e9;}
.list4 dd { padding-bottom:16px;}

.carousel { width:100%; overflow:hidden;}
.carousel li { float:left; margin-right:15px;}
.carousel li.prev { margin-right:17px; padding-top:74px;}
.carousel li.next { margin-right:0; padding-top:74px;}

.phones-list li { width:100%; overflow:hidden; padding-bottom:16px;}
.phones-list li strong {
	float:left;
	width:69px;
	color:#666;
}

/*==================other====================*/
.img-indent { margin:0 20px 0 0; float:left;}
.img-indent.fright { float:right; margin:0 0 0 20px;} 
.img-indent.alt { margin-bottom:30px;}
.img-box { width:100%; overflow:hidden; padding-bottom:20px;}
.img-box img { float:left; margin:0 20px 0 0;}

.extra-wrap { overflow:hidden;}

/*==================txt, links, lines, titles====================*/
a {color:#2cb6e9;}
a:hover{text-decoration:none;}

h1 { font-size:3em; line-height:1em; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; font-weight:normal; letter-spacing:-1px; width:400px; margin-bottom:42px;
    text-align: center;
}
lableH {font-size:3em; line-height:1em; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#306; font-weight:normal; letter-spacing:-1px; width:400px; margin-bottom:42px;}
h2 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:22px; line-height:1em; font-weight:normal; margin-bottom:23px; color:#515151;}
h2.alt { letter-spacing:-1px;}
h3 { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.5em; line-height:1.1em; margin-bottom:10px;color:#999;}
h4 { font-size:.91em; margin-bottom:10px;}
h4 strong { font-size:1.1em; color:#333; display:block;}
h5 { font-size:1em; margin-bottom:5px;}
h6 { font-size:1em; font-weight:normal;}

#textContainer { clear:right; width:100%;overflow:hidden;}
#textContainer .floatLeft {float:left; overflow:visible;}
#textContainer .floatRight {float:right; overflow:visible; width:50%;}

.txt1 { color:#333;}

/*header*/
#header {background-color: #ececec}
#header .row-1 { height:137px;padding:0 0 0 10px;}

#header .logo { float:left; padding:22px 0 0 10px;}
#header .top-links { float:right; padding:100px 10px 0 0;}
#header .top-links li { float:left; margin-left:8px;}

#header .nav-box {  width:100%;}
#header .nav-box .left {}
#header .nav-box .right { height:47px;}


/*-- header navigation  --*/
ul.menu {list-style:none; margin:0; padding:0}
ul.menu * {margin:0; padding:0}
ul.menu a {display:block; color:#000; text-decoration:none}
ul.menu li {position:relative; float:left; margin-right:2px;}
ul.menu ul {position:absolute; top:26px; left:0; background:#d1d1d1; display:none; list-style:none;overflow:visible;}
ul.menu ul li {position:relative; border:1px solid #aaa; border-top:none; width:148px; margin:0; overflow:visible}
ul.menu ul li a {display:block; padding:3px 7px 5px; background-color:#d1d1d1}
ul.menu ul li a:hover {background-color:#c5c5c5}
ul.menu ul ul {left:148px; top:-1px}
ul.menu .menulink {border:1px solid #aaa; padding:5px 23px 7px; font-weight:bold; background:url('../../Images/header.gif'); width:140px; text-align:center}
ul.menu .menulink:hover, ul.menu .menuhover {background:url('../../Images/header_over.gif')}
ul.menu .sub {background:#d1d1d1;background: url('../../Images/arrow.gif') 136px 8px no-repeat}


/*content*/
#content { padding:0 0 20px 0; background:#fff;}
#content .section { padding-bottom:20px;}


#content .button { display:block; text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase;}
#content .button em { display:block; font-style:normal; background:#999;}
#content .button em b { display:block; height:35px; line-height:35px; background:#999;}
#content .button:hover { color:#000;}

#content .button1 { background:url('../../Images/button1-bg.gif') left top repeat-x; display:block; text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase;}
#content .button1 em { display:block; font-style:normal; background:url('../../Images/button1-left.gif') no-repeat left top;}
#content .button1 em b { display:block; height:35px; line-height:35px; background:url('../../Images/button1-right.gif') no-repeat right top; cursor:pointer;}
#content .button1:hover { color:#000;}

#content .button2 { background:url('../../Images/button2-bg.gif') left top repeat-x; display:block; text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase;}
#content .button2 em { display:block; font-style:normal; background:url('../../Images/button2-left.gif') no-repeat left top;}
#content .button2 em b { display:block; height:35px; line-height:35px; background:url('../../Images/button2-right.gif') no-repeat right top; cursor:pointer;}
#content .button2:hover { color:#000;}

#content .button3 { background:url('../../Images/button3-bg.gif') left top repeat-x; display:block; text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; text-transform:uppercase;}
#content .button3 em { display:block; font-style:normal; background:url('../../Images/button3-left.gif') no-repeat left top;}
#content .button3 em b { display:block; height:35px; line-height:35px; background:url('../../Images/button3-right.gif') no-repeat right top; cursor:pointer;}
#content .button3:hover { color:#000;}

.main-banner-big { background:url('../../Images/main-banner-big.jpg') no-repeat left top; width:950px; height:303px; margin-bottom:20px;}
.main-banner-big .inner { padding:70px 0 0 52px;}
.main-banner-big .button { background:url('../../Images/button.jpg') no-repeat left top    !important; width:170px; height:36px; line-height:32px; float:left; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.75em; text-align:center; color:#fff; text-decoration:none; text-transform:none !important;}
.main-banner-big .button:hover { color:#000;}

.main-banner-small
{
    background-image: url('../../Images/main-banner-small.jpg');
    width: 950px;
    height: 163px;
    margin-bottom: 20px;
}
.main-banner-small .inner { padding:47px 0 0 52px;}
.main-banner-small h1 { font-size:30px; width:350px;}

/*extra-content*/
#extra-content { background:#ededed; border-bottom:1px solid #fff; padding:20px 0 29px 0;}
#extra-content .section { padding-bottom:20px;}

#extra-content .box { background:url('../../Images/box1-bg.gif') left top repeat-x #fff; width:100%;}
#extra-content .box .border-top {background:url('../../Images/border.gif') repeat-x top;}
#extra-content .box .border-bot {background:url('../../Images/border.gif') repeat-x bottom;}
#extra-content .box .border-left {background:url('../../Images/border.gif') repeat-y left;}
#extra-content .box .border-right {background:url('../../Images/border.gif') repeat-y right;}
#extra-content .box .left-top-corner {background:url('../../Images/left-top-corner1.gif') no-repeat left top;}
#extra-content .box .right-top-corner {background:url('../../Images/right-top-corner1.gif') no-repeat right top;}
#extra-content .box .left-bot-corner {background:url('../../Images/left-bot-corner1.gif') no-repeat left bottom; width:100%;}
#extra-content .box .right-bot-corner {background:url('../../Images/right-bot-corner1.gif') no-repeat right bottom; }


/*==================boxes====================*/
.box { background:url('../../Images/box-bg.gif') left top repeat-x; width:100%;}
.box .border-top {background:url('../../Images/border.gif') repeat-x top;}
.box .border-bot {background:url('../../Images/border.gif') repeat-x bottom;}
.box .border-left {background:url('../../Images/border.gif') repeat-y left;}
.box .border-right {background:url('../../Images/border.gif') repeat-y right;}
.box .left-top-corner {background:url('../../Images/left-top-corner.gif') no-repeat left top;}
.box .right-top-corner {background:url('../../Images/right-top-corner.gif') no-repeat right top;}
.box .left-bot-corner {background:url('../../Images/left-bot-corner.gif') no-repeat left bottom; width:100%;}
.box .right-bot-corner {background:url('../../Images/right-bot-corner.gif') no-repeat right bottom; }
.box .inner { padding:27px 35px 30px 34px; text-align:justify}
/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion {
	width: 430px;
	padding : 0px;
	height  : 350px;
	border-color :Gray;
	float : left;
}

/* accordion header */
#accordion h2 {
	background:#ccc url('../../Images/tab_bg.gif');
	height: 26px;
	color:#8c7589;
	cursor:pointer;
	margin:0;
	padding:5px 15px;
	font-size:14px;
	font-weight:bold;
	border:1px solid #fff;
	border-bottom:1px solid #ddd;
	cursor:pointer;		
}

#accordion h2:hover{
color:#4b2e47;
}

/* currently active header */
#accordion h2.current {
	cursor:default;
	background-color:#fff;
}

/* accordion pane */
#accordion .pane {
	border:1px solid #fff;
	border-width:0 2px;
	display:none;
	height:180px;
	padding:15px;
	color:#fff;
	font-size:12px;
}

/* a title inside pane */
#accordion .pane h3 {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:16px;
	color:#999;
	padding-bottom : 10px;
}
    
/* Font pane */
#accordion .pane p {
	font-weight:normal;
	margin:0 0 -5px 0;
	font-size:11px;
	color:Black;
}


.title{
height:26px;
font-size:16px;
font-weight:bold;
padding:5px 0 0 5px;
color:#877685;
background-position:0px 0px;
}
a.read_more {
width:150px;
height:27px;
display:block;
background:url(images/view_all_bg.gif) no-repeat center;
line-height:27px;
color:#428fb8;
font-size:11px;
font-weight:bold;
text-decoration:none;
text-align:center;
float:right;
margin:15px 0 15px 0;
}

.news_tab{
padding:10px 0 5px 0;
margin:0px;
text-align:justify;
line-height:14px;
border-bottom:1px #b2bbbb dashed;
}
.news_details{
padding:5px 0 0 0;
text-align:right;
font-size:11px;
font-weight:bold;
}
span.date{
color:#be52ae;
}
span.user{
color:#599093;
}
.clear{
clear:both;
}


.box1 { background:#ededed; width:100%;}
.box1 .border-top {background:url('../../Images/border-top.gif') repeat-x top;}
.box1 .border-bot {background:url('../../Images/border-bot.gif') repeat-x bottom;}
.box1 .border-left {background:url('../../Images/border-left.gif') repeat-y left;}
.box1 .border-right {background:url('../../Images/border-right.gif') repeat-y right;}
.box1 .left-top-corner {background:url('../../Images/left-top-corner2.gif') no-repeat left top;}
.box1 .right-top-corner {background:url('../../Images/right-top-corner2.gif') no-repeat right top;}
.box1 .left-bot-corner {background:url('../../Images/left-bot-corner2.gif') no-repeat left bottom; width:100%;}
.box1 .right-bot-corner {background:url('../../Images/right-bot-corner2.gif') no-repeat right bottom;}
.box1 .inner { padding:27px 35px 30px 34px;}

.dept-list { float:left;}
.dept-list dd { clear:both; text-align:right;}
.dept-list dd span { float:left; padding-right:25px;}
.dept-list dd p { text-align:left;}

/*footer*/
/*#footer { color:#fff; padding:27px 0 30px 0;}*/
#footer{ clear: both; border-top: 3px solid #6E6E6E; background: #505050 url('../../Images/footer.gif') no-repeat right top; color: #ccc; padding: 27px 0 30px 0; }
#footer .nav { text-align:center; padding-bottom:30px;}
#footer .nav li { display:inline;}
#footer .nav li a { color:#fff; padding:0 52px 0 49px;}

#footer .fleft { padding:0 0 0 44px;}
#footer .fright { padding:0 44px 0 0;}

/*==========================================*/

/*-------------------JSlider CSS-----------------------*/
a:link, a:visited {
	color : #000;
	text-decoration : none;
}
a img {
border : 0;
}
div.wrap {
width : 950px;
margin : 0 auto;
text-align : left;
}

div#top div#nav {
float : left;
clear : both;
width : 950px;
height : 52px;
margin : 22px 0 0;
}
div#top div#nav ul {
float : left;
width : 700px;
height : 52px;
list-style-type : none;
}
div#nav ul li {
float : left;
height : 52px;
}
div#nav ul li a {
border : 0;
height : 52px;
display : block;
line-height : 52px;
text-indent : -9999px;
}

div#jheader {

margin : -1px 0 0;
}
div#video-jheader {
height : 683px;
margin : -1px 0 0;
}
div#jheader div.wrap {
height : 299px;
}
div#jheader div#slide-holder {
z-index : 40;
width : 950px;
height : 299px;
position : absolute;
}
div#jheader div#slide-holder div#slide-runner {
	top : -1px;
	left : 0px;
	width : 950px;
	height : 278px;
	overflow : hidden;
	position : absolute;
	visibility: inherit;
}
div#jheader div#slide-holder img {
margin : 0;
display : none;
position : absolute;
}
div#jheader div#slide-holder div#slide-controls {
left : 0;
bottom : 0px;
width : 950px;
height : 46px;
display : none;
position : absolute;
background : url('../../Images/slide-bg.png') 0 0;
}
div#jheader div#slide-holder div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 10px;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
div#jheader div#slide-holder div#slide-controls p#slide-nav {
float : right;
height : 24px;
display : inline;
margin : 11px 15px 0 0;
}
div#jheader div#slide-holder div#slide-controls p#slide-nav a {
float : left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
color:White;
margin : 0 5px 0 0;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
}
div#jheader div#slide-holder div#slide-controls p#slide-nav a.on {
background-position : 0 -24px;
}
div#jheader div#slide-holder div#slide-controls p#slide-nav a {
background-image : url('../../Images/silde-nav.png');
}
div#nav ul li a {
background : url('../../Images/nav.png') no-repeat;
}
