﻿

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title></title>
        <link href="App_Themes/Default/Style.css" rel="stylesheet" type="text/css" />
        <link href="App_Themes/Default/layout.css" rel="stylesheet" type="text/css" />
        <link href="App_Themes/Default/ie_style.css" rel="stylesheet" type="text/css" />
        <link rel="Stylesheet" href="jqtransformplugin/jqtransform.css" type="text/css" media="screen" />
        
        <script src="Script/maxheight.js" type="text/javascript"></script>
        <script type="text/javascript">
            var _siteRoot = 'default.aspx', _root = 'default.aspx';
        </script>
        <script type="text/javascript" src="Script/jquery.js"></script>
        <script type="text/javascript" src="Script/scripts.js"></script>
        <script type="text/javascript" src="Script/menu_script.js"></script>
        <script type ="text/javascript" src="jqtransformplugin/jquery.jqtransform.js"></script>
        <script type="text/javascript" src="Script/ticker.js"></script>
        <script type="text/javascript" language="javascript">
            $(function() {
            $('form').jqTransform({ imgPath: 'jqtransformplugin/img/' });
            $('#news-container').vTicker({
                speed: 500,
                pause: 3000,
                animation: 'fade',
                mousePause: true,
                showItems: 9
            });
            $("#accordion").tabs("#accordion div.pane", { tabs: 'h2', effect: 'slide', initialIndex: null });
        });
	</script>
	<script type="text/javascript" language="javascript">
	    $(function init() {
	    new ElementMaxHeight();
	    });
	</script>
    <style type="text/css">

 p.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:10.0pt;
	margin-left:0in;
	line-height:115%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";
	}
    </style>
</head>
<body id="<%=BodyId %>" onload="init();">
 <div id="header">
  <div class="container">
    <div class="row-1">
     <div class="logo"><a href="#"><img alt="" src="images/logo.jpg" /></a></div>
    </div>
    <div class="row-2">
      <!-- nav box begin -->  
 <script type="text/javascript">
	var menu=new menu.dd("menu");
	menu.init("menu","menuhover");
</script>
      <!-- nav box end -->
    </div>
  </div>
</div>
 <div id="contentwrapper">
    <div id="content">
       <div class="section">
      <!-- box begin -->
      <div class="box">
        <div class="border-top">
          <div class="border-right">
            <div class="border-bot">
              <div class="border-left">
               <div class="left-top-corner maxheight">
                    <div class="right-top-corner maxheight">
                      <div class="right-bot-corner maxheight">
                        <div class="left-bot-corner maxheight">
                        <div class="inner">
                        <ul class="list2">
                          <li> &nbsp;<h4>&nbsp;</h4>
                                        <p class="maintenance">
                                            <span>This Website Is under Maintenance, Sorry for the inconvenience<o:p></o:p></span></p>
                                        <p class="maintenance">Level 14 Tamara Center. Jl Jendral Sudirman 24 Jakarta</p>
                                        <p class="maintenance">Phone : +62 21 252 6624</p>
                                        <p class="maintenance">Fax   : +62 21 252 6655<br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                                            <br />
                              </p>
                        </ul>
                       </div>
                      </div>
                     </div>
                    </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
 <!-- footer -->
<div id="footer">
  <div class="container">
      <br />
    <div class="wrapper">
      <div class="fleft"> Copyright &copy; 2011 <a href="www.bizintek.com">Bizintek</a>. All Rights Reserved</div>
      <div class="fright">Designed Dev Team - <a href="www.matrakom.com">Matrakom Infotek</a></div>
    </div>
  </div>
</div>
</body>
</html>
